@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  background-color: black;
  text-align: center;
}

span,
p {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}

#hero {
  position: absolute;
  font-size: 20px;
  top: 47px;
  left: 48%;
}

#enemy {
  position: absolute;
  top: 147px;
  left: 48%;
  font-size: 20px;
}

#start {
  position: absolute;
  top: 247px;
  left: 51.5%;
  font-size: 20px;
}
